<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>{% block page_title %}Adiestramiento Paseo78{% endblock page_title %}</title>
	{% load static %}
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
	<header class="header">
		<figure class="header__logo">
			<img src="{% static 'logo.png' %}" alt="Paseo78">
		</figure>
		<div>
			<h1>Adiestramiento Pase78</h1>
		</div>
		<ul class="menu">
			<li class="menu__item">
				<a href="#">Inicio</a>
			</li>
			<li class="menu__item">
				<a href="#">Cerrar sesión</a>
			</li>
		</ul>
	</header>
	<section class="MaterialApp">
		{% block content %}

		
		{% endblock content %}	
	</section>
</body>
</html>