$text-color   = rgb(161, 133, 0)
$paseo78      = rgb(255, 208, 0)
$verde_oscuro = #598b11
$rojo         = #ff530f

*	
	margin 0
	
body
	background-color #f3f3f6
	color $text-color
	font-family "Raleway", "Arial", sans-serif
	text-rendering optimizeLegibility

a
	outline 0
	text-decoration none

img
	border none
	vertical-align bottom
	max-width 100%

/* CLASES DE UTILIDAD */

.container
	display flex
	flex-direction column
	justify-content center
	align-items center

.is_video
	background-color #0a8ecd

.row-reverse
	flex-direction row-reverse
	
.margin-r
	margin-right 1rem
	
.margin-r-05
	margin-right .5rem
	
.margin-t
	margin-top 1rem
	
.btn
	background-color #d3d3d3
	border none
	border-radius .4em
	box-sizing border-box
	color #fff
	cursor pointer
	display inline-block
	font-family Lato,sans-serif
	font-size .95em
	font-weight 700
	padding .6em .8em .8em
	text-decoration none
	-moz-user-select none
	-ms-user-select none
	-webkit-tap-highlight-color transparent
	-webkit-user-select none
	user-select none
	-webkit-transition .2s
	transition all .2s ease-in-out
	vertical-align middle
	box-shadow inset 0 -0.2em rgba(0,0,0,.3)
	white-space nowrap
	overflow hidden
	text-overflow ellipsis
	-webkit-appearance none
	-moz-appearance none
	appearance none
	outline 0
	
	&-corner-left-orange
		position relative
		font-size 16px
		
		&:before
			color #fff
			left 5px
			position absolute
			top 5px
			z-index 2
			
		&:after
			border-bottom 40px solid transparent
			border-left 40px solid $text-color
			content ""
			left 0
			position absolute
			top 0
			z-index 1
    
	&-green
		font-size 1.1rem
		background-color #7fc719
		
		&:hover
			background-color $verde_oscuro
			color #fff
			
	&-paseo
		font-size 1.1rem
		background-color $paseo78
		color $text-color
		transform scale(1.2)
		
		&:hover
			background-color darken($paseo78, 10%)
			
		&:active
			transform scale(1.1)
			
	&-danger
		font-size 1.1rem
		background-color darken(red, 20%)
		color white
		transform scale(1.2)
		
		&:hover
			background-color darken(red, 40%)
			
		&:active
			transform scale(1.1)
			
	&.input-submit
		margin-top 1rem
		
	&-right
		float right
		margin-right 1rem
		

.form-message
	margin-bottom 1.2rem
	text-align center
	
	&--span
		font-size 1.2rem
		font-weight bold
		color $rojo

.input
	&-label	
		font-size 1.4rem

//froala
.fr-wrapper
	height 200px
	
a[href="https://www.froala.com/wysiwyg-editor?k=u"]		
	display none !important
	
.fr-box
	margin-bottom 1rem !important
	
.plyr
	margin-bottom 1rem
/* Básicos */
.header
	display flex
	align-items center
	justify-content space-between
	margin-bottom 2rem
	background-color $paseo78
	padding .2rem 1rem

	&__logo
		width 80px
		
	.menu
		padding 0px
		&__item
			display inline-block
			margin-right .3rem
						
			a
				color $text-color
				box-sizing border-box
				font-weight 500
				font-size 1.3rem
				text-transform uppercase
				transition all .3s ease-in-out 0s 

				&:hover
					color darken(rgb(161, 133, 0), 0.5)	


/*Module AdminActions */
.AdminActions
	display flex
	justify-content center
	
	a
		margin-right 3rem
		
		&:last-child
			margin-right 0px
	
/*Module AdminActions */

/*APP Material */

.MaterialApp
	padding-bottom 1rem
	
.ConceptList
	padding 0 5rem
	margin-bottom 1rem
	
	@media only screen and (min-width: 48em)
		padding 0 2rem
		
.Concept
	-ms-box-pack justify
	-ms-flex-direction column
	-o-box-orient vertical
	-o-box-pack justify
	-webkit-box-orient vertical
	-webkit-box-pack justify
	display flex
	flex-direction column
	justify-content space-between
	margin-top 1rem
	padding-bottom .5rem

	@media only screen and (min-width: 48em)
		padding-bottom 0
		
	&.inactive
		border 2px solid darken(red, 30%)
		padding .2rem .5rem

	&:last-child
		padding-bottom 0
	
	&-header
		-webkit-box-align center
		-o-box-align center
		-ms-box-align center
		align-items center
		display flex
		-webkit-box-pack justify
		-o-box-pack justify
		-ms-box-pack justify
		justify-content space-between
		margin-bottom calc(1rem - 2px)
		boder 1px dashed transparent
		
	&-left
		display flex
		-webkit-box-align center
		-o-box-align center
		-ms-box-align center
		align-items center
		
	&-title
		color $text-color
		font-size 1.125rem
		font-weight 700
		margin-right 1rem
		
	&-percentage
		color $text-color
		font-size 1rem
		font-style normal
		
	&-edit
		cursor pointer
		color $text-color
		margin-left 1rem
		margin-right .5rem
		
.MaterialList
	width 100%
	
.Material
	border-radius .4rem 0 0 .4rem
	box-sizing border-box
	border 2px solid transparent
	display flex
	margin-bottom .7rem
	position relative
	z-index 1
	
	&-link
		position absolute
		top 0
		right 0
		bottom 0
		left 0
		z-index 2
		
.MaterialEdit
	position absolute
	top 0
	left 0
	border-top-left-radius .25rem
	z-index 2

.MaterialType
	width 90px
	align-items center
	border-radius .25rem 0 0 .25rem
	color #fff
	display flex
	font-size 2rem
	flex-shrink 0
	justify-content center
	min-height 90px
	text-align center
	
	&.is-video
		background-color $paseo78
		
.MaterialContent
	width 100%
	
	&>div
		background-color #fff
		box-sizing border-box
		-webkit-box-orient vertical
		-o-box-orient vertical
		-ms-flex-direction column
		flex-direction column
		-webkit-box-pack justify
		-o-box-pack justify
		-ms-flex-pack justify
		justify-content space-between
		padding .75rem
		width 100%
		display flex
	
	.MaterialContent-title
		font-size 1rem
		-webkit-box-flex 1
		-o-box-flex 1
		box-flex 1
		ms-flex 1
		flex 1
		margin-bottom 0px
		
	&-date
		color $text-color
		text-transform capitalize
		
.MaterialMeta-status
	margin-left .5rem
		
.MaterialMeta-check
	cursor pointer
	position relative
	z-index 2

	&.is-seen
		color #7fc719

.MaterialContent-row2
	-webkit-box-pack justify
	-o-box-pack justify
	-ms-box-pack justify
	justify-content space-between
	-webkit-box-lines multiple
	-moz-box-lines multiple
	-o-box-lines multiple
	flex-wrap wrap
	-ms-box-lines multiple
	
.MaterialAuthor
	-webkit-box-align center
	-o-box-align center
	-ms-flex-align center
	align-items center
	display flex
	margin-bottom .75rem
	
	&-avatar
		height 20px
		flex-shrink 0
		margin-right .5rem
		width 20px
		
		img
			border-radius 50%
			height inherit
			width inherit
			
	&-name
		color #7b7b7f
		font-size 1rem
		font-weight 700
		margin-right .5rem

.AddMaterial
	color #ff530f
	background #f3f3f6
	display -webkit-box
	display -ms-flexbox
	display box
	display flex
	height 40px
	-webkit-box-align center
	-o-box-align center
	-ms-flex-align center
	align-items center
	border-radius .25rem
	position relative
	
	&:active
		transform scale(.99)
	
	&.is-material-ad
		background #fff
		border 1px dashed #dbdbe2
		margin-bottom 1em
		
	span
		color $text-color
		margin-left 1em
		display -webkit-box
		display -ms-flexbox
		display box
		display flex
		-webkit-box-align center
		-o-box-align center
		-ms-flex-align center
		align-items center
		font-weight 700
		font-size 14px
		
	&:before
		content ""
		width 73px
		height inherit
		display block
		background #dbdbe2
		border-radius .25rem 0 0 .25rem
		
		@media only screen and (min-width: 48em)
			width 90px
			
	&:after
		position absolute
		bottom 100%
		left 25px
		background-color $text-color
		content ''
		height calc(.7rem + 4px)
		-webkit-transform translateX(-50%)
		transform translateX(-50%)
		width .2rem
		z-index 2
		
		@media only screen and (min-width: 48em)
			left 45px
			

.AddConcept
	max-width 900px
	width 100%
	background-color white
	padding 1rem
	border-radius 10px
	
	input
		margin-bottom 1rem
		
	&__actions
		display flex
		justify-content flex-end
		
		a
			margin-right 3rem
			
			&:last-child
				margin-right 1rem

/*END APP Material */

/*APP Login */

.LoginApp
	display flex
	justify-content center
	margin-top 5rem
	
.Login
	background-color darken($text-color, 50%)
	padding 0
	border-radius 14px 14px 10px 10px
	min-width 412px
	max-width 413px
	
	&__header
		align-items center
		background-color $paseo78
		display flex
		font-size 1.4rem
		justify-content center
		min-height 100px
		text-align center
		text-transform uppercase
		border-radius 10px 10px 0 0
		
	&__content		
		padding 1rem 4rem
		min-height 250px
		display flex
		justify-content center
		align-items center
		flex-direction column
		
	&__message
		margin-bottom 1rem
		
		&--span
			font-size 1.2rem
		
	&__form
		display flex
		align-items center
		justify-content center
		flex-direction column
	
	&__input
		width 100%		
		display block
		outline 0
		height 40px
		padding .5em
		font-size 1em
		box-sizing border-box
		color #1c3643
		border 1px solid #dbdbe2
		border-radius 5px
		background-color #f3f3f6
		margin-bottom 1em
		-webkit-transition border-color .2s
		transition border-color .2s
		
		&:last-child
			margin-bottom 0px
			
		&:first-child
			margin-top 1rem
			
		&.input-text
			min-width 200px
			
		&:focus
			border-color $paseo78
			
		&--textarea
			height 200px
			

//Examen Estilos


.QuestionAnswers
	
	.MaterialAuthor.&
		flex-direction column
		align-items flex-start

	&__container
		display flex
		justify-content space-between
		max-width 400px
		
	&__item
		background-color $text-color
		color white
			

@import "font"