{% extends "base.html" %}
{% block title %}
	Editar evaluacion - Adiestramiento Paseo78
{% endblock title %}
{% block content %}
	<div class="container">
		<form method="POST" class="AddConcept" enctype='multipart/form-data'>
			{% csrf_token %}
			<div class="form-message">
				<h2>Evaluación {{examen.material.nombre}}</h2>
				<span class="form-message--span">{{mensaje}}</span>
			</div>
			<label class="input-label" for="material">Material *</label>
			<select class="Login__input" name="material" size="1">
				{% for material in materiales %}
					<option value="{{material.pk}}" {% if examen.material.pk == material.pk %}selected{% endif %}>{{material.nombre}}</option>
				{% endfor %}
			</select>
			<input id="activo" name="activo" type="checkbox" {% if examen.activo %}checked{% endif %}>
			<label class="input-label" for="activo">Disponible</label>
			<input class="btn btn-paseo btn-right" type="submit" value="Realizar cambios">
		</form>
	</div>
{% endblock content %}
