{% extends "base.html" %}
{% load static %}
{% block content %}

	<section class="AdminActions">
		<a href="{% url 'add-concept' %}" class="btn btn-paseo"><i class="icon-plus margin-r-05"></i> Crear examen</a>
		<!--<a href="#" class="btn btn-paseo"><i class="icon-plus margin-r-05"></i>Agregar material</a>-->
	</section>

	<section class="ConceptList">	
		
	</section>


{% endblock content %}

{% block script %}
	<script>
	var button_trash = $('.Concept-edit.icon-trash').on('click', function(){
		if (confirm('¿Estas seguro que quieres eliminar el concepto?')) {
			var slug = $(this).attr('data-conceptSlug');
			$.ajax({
				url: "manager/concepto/" + slug + "/eliminar/",
				success: function(){
					window.location = "/";
				}
			})
		}
	});
	</script>
{% endblock script %}