{% extends "base.html" %}
{% load static %}
{% block content %}

	<section class="AdminActions">
		<a href="{% url 'add-concept' %}" class="btn btn-paseo"><i class="icon-plus margin-r-05"></i> Crear examen</a>
		<!--<a href="#" class="btn btn-paseo"><i class="icon-plus margin-r-05"></i>Agregar material</a>-->
	</section>

<section class="ConceptList">	
	<section class="MaterialList">
		{% for examen in examenes %}
			<article class="Material margin-t">
				<a href="{{examen.edit_url}}" title="{{examen.concepto.titulo}}" class="Material-link"></a>
				<a class="MaterialEdit btn-corner-left-orange icon-pencil" href="{{examen.edit_url}}" target="_blank"></a>
				<figure class="MaterialType is-video">
					<span class="icon-file-empty"></span>
				</figure>
				<div class="MaterialContent">
					<div class="MaterialContent-row1">
						<h3 class="MaterialContent-title">{{examen.concepto.titulo}}</h3>
						<figure class="MaterialMeta-status">
							<span class="MaterialMeta-check icon-check_B is-seen"></span>
						</figure>
					</div>
					<div class="MaterialContent-row2">
						<div class="MaterialAuthor">
							<figure class="MaterialAuthor-avatar">
								<img src="{%static 'logo.png'%}" alt="Paseo78">
							</figure>
							<strong class="MaterialAuthor-name">Departamento de Adiestramiento</strong>
							<time class="MaterialContent-date">{{material.created_at|date:'F Y'}}</time>
						</div>
					</div>
				</div>
			</article>
		{% endfor %}
	</section>
</section>


{% endblock content %}

{% block script %}
	<script>
	var button_trash = $('.Concept-edit.icon-trash').on('click', function(){
		if (confirm('¿Estas seguro que quieres eliminar el concepto?')) {
			var slug = $(this).attr('data-conceptSlug');
			$.ajax({
				url: "manager/concepto/" + slug + "/eliminar/",
				success: function(){
					window.location = "/";
				}
			})
		}
	});
	</script>
{% endblock script %}