{% extends "base.html" %}
{% load static %}
{% block content %}

	<section class="AdminActions">
		<a href="{% url 'add-concept' %}" class="btn btn-paseo"><i class="icon-plus margin-r-05"></i> Crear examen</a>
		<!--<a href="#" class="btn btn-paseo"><i class="icon-plus margin-r-05"></i>Agregar material</a>-->
	</section>

	<section class="ConceptList">	
		{% for examen in examenes %}
			<section class="Concept {% if not examen.activo %}inactive{% endif %}">
				<header class="Concept-header">
					<div class="Concept-left">
						<h3 class="Concept-title">Examen {{examen.concepto.titulo}}</h3>
						<a href=""><span class="Concept-edit icon-pencil"></span></a>
					</div>
					<div class="Concept-actions">
						<span data-conceptSlug="" class="Concept-edit icon-trash"></span>
						<em class="Concept-percentage"></em>
					</div>
				</header>
		{% endfor %}
	</section>


{% endblock content %}

{% block script %}
	<script>
	var button_trash = $('.Concept-edit.icon-trash').on('click', function(){
		if (confirm('¿Estas seguro que quieres eliminar el concepto?')) {
			var slug = $(this).attr('data-conceptSlug');
			$.ajax({
				url: "manager/concepto/" + slug + "/eliminar/",
				success: function(){
					window.location = "/";
				}
			})
		}
	});
	</script>
{% endblock script %}