{% extends "base.html" %}
{% load static %}
{% block content %}

	<section class="AdminActions">
		
	</section>

	<section class="ConceptList">
			<section class="Concept {% if not examen.activo %}inactive{% endif %}">
				<header class="Concept-header">
					<div class="Concept-left">
						<h3 class="Concept-title">Evaluación {{examen.concepto.titulo}}</h3>
						<a href="{{examen.edit_url}}"><span class="Concept-edit icon-pencil"></span></a>
					</div>
					<div class="Concept-actions">
						<span data-conceptSlug="{{examen.pk}}" class="Concept-edit icon-trash"></span>
						<em class="Concept-percentage"></em>
					</div>
				</header>
			</section>

			<section class="MaterialList">
				{% for pregunta in preguntas %}
					{% if pregunta in examen.preguntas.all %}
						<article class="Material">
							<a href="{{pregunta.edit_url}}" title="{{pregunta.nombre}}" class="Material-link"></a>
							<a class="MaterialEdit btn-corner-left-orange icon-pencil" href="{{examen.edit_url}}" target="_blank"></a>
							<figure class="MaterialType QuestionAnswers">
								{% if examen.ilustracion %}
									<img src="{{pregunta.get_image}}" alt="">
								{% endif %}
							</figure>
							<div class="MaterialContent">
								<div class="MaterialContent-row1">
									<h3 class="MaterialContent-title">{{pregunta.pregunta}}</h3>
									<figure class="MaterialMeta-status">
										<span class="MaterialMeta-check icon-check_B is-seen"></span>
									</figure>
								</div>
								<div class="MaterialContent-row2">
									<div class="MaterialAuthor QuestionAnswers">
										<div class="QuestionAnswers__container">
											<div class="QuestionAnswers__item {% if pregunta.opcion_correcta == 'opcion_a' %}QuestionAnswers--correct{% endif %}">
												<span>A) {{pregunta.opcion_a}}</span>
											</div>
											<div class="QuestionAnswers__item {% if pregunta.opcion_correcta == 'opcion_b' %}QuestionAnswers--correct{% endif %}">
												<span>B) {{pregunta.opcion_b}}</span>
											</div>
										</div>
										<div class="QuestionAnswers__container">
											<div class="QuestionAnswers__item {% if pregunta.opcion_correcta == 'opcion_c' %}QuestionAnswers--correct{% endif %}">
												<span>C) {{pregunta.opcion_c}}</span>
											</div>
											<div class="QuestionAnswers__item {% if pregunta.opcion_correcta == 'opcion_d' %}QuestionAnswers--correct{% endif %}">
												<span>D) {{pregunta.opcion_d}}</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</article>
					{% endif %}	
				{% endfor %}
			</section>
			<div>
				<a class="AddMaterial is-material-ad" href="#">
					<span><i class="icon-plus margin-r-05"></i> Añadir pregunta al examen</span>
				</a>
			</div>

			<form method="POST" class="AddConcept Answer" enctype='multipart/form-data' action="{{examen.add_answer}}">
				{% csrf_token %}
				<div class="form-message">
					<h2>Agregar pregunta a {{examen.concepto.titulo}}</h2>
					<span class="form-message--span">{{mensaje}}</span>
				</div>	
				<label class="input-label" for="pregunta">Enunciado *</label>
				<input class="Login__input" type="text" id="pregunta" name="pregunta" placeholder="¿Cúal es tu pregunta?" />
				<div class="Answer__container">
					<div class="Answer__item">
						<label class="input-label" for="opcion_a">Opción A *</label>
						<input class="Login__input" type="text" id="opcion_a" name="opcion_a" placeholder="Respuesta A" />
					</div>
					<div class="Answer__item">
						<label class="input-label" for="opcion_b">Opción B *</label>
						<input class="Login__input" type="text" id="opcion_b" name="opcion_b" placeholder="Respuesta B" />
					</div>
				</div>
				<div class="Answer__container margin-b">
					<div class="Answer__item">
						<label class="input-label" for="opcion_c">Opción C *</label>
						<input class="Login__input" type="text" id="opcion_c" name="opcion_c" placeholder="Respuesta C" />
					</div>
					<div class="Answer__item">
						<label class="input-label" for="opcion_d">Opción D *</label>
						<input class="Login__input" type="text" id="opcion_d" name="opcion_d" placeholder="Respuesta D" />
					</div>
				</div>
				<label class="input-label" for="opcion_correcta">Respuesta correcta:</label>
				<select class="Login__input" name="opcion_correcta" size="1">
					<option value="opcion_a" selected>A</option>
					<option value="opcion_b">B</option>
					<option value="opcion_c">C</option>
					<option value="opcion_d">D</option>
				</select>
				<div class="Answer__container">
					<div class="Answer__item image">
						<img class="Answer__image" src="{% static 'up-image.png' %}" alt="{{examen.concepto.titulo}}">
					</div>	
					<div class="Answer__item image-select">
						<label class="input-label" for="ilustracion">Ilustración</label>
						<input class="Login__input" type="file" id="ilustracion" name="ilustracion" />
					</div>
				</div>
				<input class="btn btn-paseo btn-right" type="submit" value="Agregar pregunta">
			</form>
	</section>


{% endblock content %}

{% block script %}
<script>
	var button_trash = $('.Concept-edit.icon-trash').on('click', function(){
		if (confirm('¿Estas seguro que quieres eliminar el examen?')) {
			var slug = $(this).attr('data-conceptSlug');
			$.ajax({
				url: "/manager/examen/" + slug + "/eliminar/",
				success: function(){
					window.location = "/manager/examen";
				}
			})
		}
	});

	var form_addAnswer = $('.AddConcept.Answer');
	var button_addAnswer = $('.AddMaterial.is-material-ad');

	button_addAnswer.on('click', function(e){
		e.preventDefault();		

		form_addAnswer.show("slow", "swing");
		button_addAnswer.hide();
	});

</script>
{% endblock script %}